<h1>KPIFF Stats</h1>
<h2>Total content count</h2>
<table>
  <thead>
    <tr><th>Type</th><th>Count</th></tr>
  </thead>
  <tbody>
    {% for key,value in kpiff_content_count %}
      <tr><td>{{ key}}</td><td>{{ value }}</td></tr>
    {% endfor %}
  </tbody>
</table>
<h2>KPIFF Tagged Content count</h2>

{% for field,result in kpiff_tagged_content_count %}
  <h3>{{ field }}</h3>
  <table>
    <thead>
      <tr><th>Term name</th><th>Count</th></tr>
    </thead>
    <tbody>
      {% for key,value in result %}
        <tr><td>{{ value.name}}</td><td>{{ value.count }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}


